.navegacao {
    padding: 0px 50px 0px 50px;
    margin: auto;
    font-size: 15px
}

.banner-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.context-galeria {
    text-align: center;
    padding: 20px 0px 20px 10px;
    margin-top: 80px;
}

.text-galeria {
    font-size: 50px;
    color: #343a40;
}


.text {
    color: white;
}

.text-tamanho {

    font-size: 30px;
    bottom: 200px;
    left: 5%;
    right: 5%;
    text-align: center;
    color: #ffffff;
    position: absolute;
}



.box-fotografia {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-flow: row wrap;
    justify-content: center;
    background: ;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}


.fotografia {
    padding: 10px 10px 10px 10px;
}

.img-galeria {
    margin: 50px;
    max-width: 100%;
    width: 210px;
    height: 210px;
    object-fit: cover;
    object-position: center;
}

.item-fotografia img {
    border: 3px solid #3f3939;
    box-shadow: 0 0 20px 5px #616161;
    border-radius: 10px;
}

.fundo {
    background-color: #190707;
    color: #ffffff;
}

.contatar {
    text-align: center;
}

.descricao-footer {
    text-align: center;
    font-size: 15px;
}



/*efeito do zoom nas imagens*/

.zoom {
    overflow: hidden;
    text-align: center;
}

.zoom .img-galeria {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.zoom:hover .img-galeria {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* contato conosco*/

.titulo {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #0B0B3B;
}

.faleconosco{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.send-message {
    border: solid 2px #9c9c9c;
    border-radius: 5px;
    padding: 40px 20px 60px 20px;
}

.contborda {
    width: 190px;
    padding-left: 10px;
    font-size: 22px;
    color: #9c9c9c;
}

.form-group {
    font-weight: bold;
}

.btenviar {
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px 40px 10px 40px;
}

.textenvia {
    text-align: center;
    font-size: 0.5rem;

}

/*footer*/

.fundo {
    background-color: #343a40;
    color: #ffffff;
}

.contatar {
    text-align: center;
}

.descricao-footer {
    text-align: center;
    font-size: 15px;
}

/* depoimentos */

.box-depoimento{
    background: #E6E6E6;
}

.titulo-depoimento {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;

}

.espacamento {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text-paragrafo{
    padding: 15px 20px 15px 20px;
}

.card-alinhamento{
    text-align: center;
    margin-top: 20px;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.namedepoimentos{
text-align: center;
}
















/* O container geral define a perspectiva */
.flip-container {
    perspective: 1000;
}

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 480px;
}

/* define a velocidade da transição */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* esconde o verso durante a animação */
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* frente posicionada sobre o verso */
.front {
    z-index: 2;
}

/* verso inicialmente escondido */
.back {
    transform: rotateY(180deg);
}