body {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.text {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/*banner*/

.banner-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.text-tamanho {
    bottom: 200px;
    left: 5%;
    right: 5%;
    text-align: center;
    color: #ffffff;
    position: absolute;
}

/*galeria*/

.container-galeria{
    background: #E6E6E6;
}

.box-galeria {	
    text-align: center;	
    padding: 20px 0px 20px 10px;	
}

.text-galeria {
    font-size: 50px;
    color: #000;
}

.flex-column { 
    width : 320px;
    height: 240px;
    background: #E6E6E6;
}

.img-fluid {
    object-fit: cover;
    object-position: center;
    transition: all .5s;
}

.img-fluid:hover {
    transform: scale(1.2);
}

/* depoimento */

.container-depoimento {
    background: #E6E6E6;
}

.titulo-depoimento {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

.espacamento {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-alinhamento {
    text-align: center;
    margin-top: 20px;
}

.img-circle {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.card-text {
    padding: 35px;
    text-align: justify;
}

.namedepoimentos {
    text-align: center;
    padding: 20px 0;
    font-style: oblique;
}

/* contato*/

.titulo {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #0B0B3B;
}

.faleconosco {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.send-message {
    border: solid 2px #9c9c9c;
    border-radius: 5px;
    padding: 40px 20px 60px 20px;
    font-weight: bold;
}

.contborda {
    width: 190px;
    padding-left: 10px;
    font-size: 18px;
    color: #9c9c9c;
}

/*footer*/

.fundo {
    background-color: #190707;
    padding: 30px 0;
    color: #ffffff;
}

.descricao-footer {
    text-align: center;
    font-size: 18px;
}