.navegacao {
    padding: 0px 95px 0px 140px;
}

.banner img {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.box-fotografia {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fotografia .item-fotografia {
    padding: 30px;
}
.item-fotografia img {
    border: 3px solid #616161;
    box-shadow: 0 0 20px 5px #616161;
    border-radius: 10px;
}